@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'limelight';
  font-style: regular;
  font-weight: 400;
  src: url('/fonts/Limelight-Regular.ttf') format('truetype');
}

* {
  transition-duration: 0.5s;
}
