@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --root-primary: white;
  --root-secondary: slateGray;
  --root-text: black;
  --root-active: black;
  --root-inactive: slateGray;

  --primary: #edf2f8;
  --bg-start:#edf2f8;
  --bg-end:#d5d6d7;
  --primary-contrast: #ffffff;
  --secondary: #97969c;
  --secondary-contrast: #180d5c;
  --hover-background: #e6e4e7;
  --text: black;
  --icon-contrast: rgb(255, 255, 255);
  --soft-contrast: rgb(34, 33, 33);
  --active: black;
  --inactive: slateGray;
  --text-contrast:#222327;
  --next-icon:#0c142a;
  --react-icon:#278894;
  --expo-icon:#117453;
  --container-start:rgb(50, 50, 50);
  --container-end:#191818;
  
  --dark-primary: #222327;
  --dark-bg-start:#222327;
  --dark-bg-end:#222327;
  --dark-primary-contrast: #c6c9d0;
  --dark-secondary: #ddd;
  --dark-secondary-contrast: #bcbbbb;
  --dark-text: white;
  --dark-icon-contrast: rgb(37, 37, 37);
  --dark-hover-background: white;
  --dark-active: slateGray;
  --dark-soft-contrast: rgb(15, 15, 15);
  --dark-inactive: white;
  --dark-text-contrast:#222327;
  --dark-next-icon:#395ab6;
  --dark-react-icon:#38c3d5;
  --dark-expo-icon:#24dfa0;
  --dark-container-start:#000;
  --dark-container-end:#3a3a3a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

